@model Sehmus.EntitiesLayer.Dtos.AdminDtos.AppUserRegisterDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Html.PartialAsync("/Areas/Admin/Views/AdminPartial/AdminHeadPartial.cshtml")
<body>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">    
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Bir hesap oluşturun</h5>
                                        <p class="text-center small">Hesap oluşturmak için kişisel bilgilerinizi girin</p>
                                    </div>
                                    <form asp-action="SignUp" method="post" >
                                        <div class="col-12">
                                            <label asp-for="Name" class="form-label">Adınız</label>
                                            <input asp-for="Name" type="text" class="form-control" required>
                                            <div class="invalid-feedback">Lütfen ad alanını doldurunuz!</div>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="LastName" class="form-label">Soyadınız</label>
                                            <input asp-for="LastName" type="text" class="form-control" required>
                                            <div class="invalid-feedback">Lütfen soyad alanını doldurunuz!</div>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="Email" class="form-label">Mailiniz</label>
                                            <input asp-for="Email" type="email" class="form-control" required>
                                            <div class="invalid-feedback">Lütfen E-Posta alanını doldurunuz!</div>                               
                                        </div>
                                        @if (ViewBag.ErrorMessage != null)
                                        {
                                            <div class="alert alert-danger">
                                                @ViewBag.ErrorMessage
                                            </div>
                                        }
                                        <div class="col-12">
                                            <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text"></span>
                                                <input asp-for="UserName" type="text" class="form-control" required>
                                                <div class="invalid-feedback">
                                                    @if (ViewBag.ErrorMessage != null)
                                                    {
                                                        @ViewBag.ErrorMessage
                                                    }
                                                    else
                                                    {
                                                        <span>Lütfen kullanıcı adı alanını doldurunuz!</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label">Şİfre</label>
                                            <input asp-for="Password" type="password" class="form-control" required>
                                            <div class="invalid-feedback">Lütfen şifre alanını doldurunuz!</div>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="ConfirmPassword" class="form-label">Şİfre Tekrar</label>
                                            <input asp-for="ConfirmPassword" type="password" class="form-control" required>
                                            <div class="invalid-feedback">Lütfen şifre tekrar alanını doldurunuz!</div>
                                        </div>
                                        <br />
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Hesap Oluştur</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Hesabınız var mı? <a href="/Admin/Login/SignIn" class="forget-password-link">Giriş Yapın</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main><!-- End #main -->
    @await Html.PartialAsync("/Areas/Admin/Views/AdminPartial/AdminScriptPartial.cshtml")
</body>
</html>
<style>
    .forget-password-link {
        text-decoration: none;
        color: #007bff; /* Choose a color that fits your design */
        font-weight: bold;
    }

    .link-icon {
        margin-left: 5px;
    }
</style>