@model Sehmus.EntitiesLayer.Concrete.SubMenu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Alt Menü Ekleme Paneli</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu2Id" class="control-label"></label>
                @Html.DropDownListFor(x=>x.Menu2.Id,(List<SelectListItem>)ViewBag.dgr2,new{@class="form-control"})
            </div>
          
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                @Html.DropDownListFor(x=>x.AppUser.Id,(List<SelectListItem>)ViewBag.dgr,new{@class="form-control"})
            </div>
             <br />
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index">Listeye Geri Dön</a>
</div>
