<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("/Areas/Admin/Views/AdminPartial/AdminHeadPartial.cshtml")

<body>
    <!-- ======= Header ======= -->
    @await Html.PartialAsync("/Areas/Admin/Views/AdminPartial/AdminHeaderPartial.cshtml")
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#1" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Kayıtlı Olan Kullanıcılar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Profile/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#2" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Baş(Hero) Alanı</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Hero/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#3" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Menü Alanı</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Menu1/Index">
                            <i class="bi bi-circle"></i><span>İlişkisiz Ana Menü</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Menu2/Index">
                            <i class="bi bi-circle"></i><span> İlişkili Ana Menü</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/SubMenu/Index">
                            <i class="bi bi-circle"></i><span>Alt Menü</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#4" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Kişisel Bilgiler</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="4" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Information/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#5" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Yetenekler</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="5" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Skill/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#6" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Hizmetler</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="6" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Service/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
               <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#8" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Portföy</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="8" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Portfolio/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#9" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Referanslar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="9" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Testimonial/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#10" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="10" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/BlogCategory/Index">
                            <i class="bi bi-circle"></i><span>Blog Kategori</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Blog/Index">
                            <i class="bi bi-circle"></i><span>Blog</span>
                        </a>
                    </li>
                      <li>
                        <a href="/Admin/BlogSlider/Index">
                            <i class="bi bi-circle"></i><span>Blog Slider İçerik</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#11" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>İletişim Bilgileri</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="11" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Contact/Index">
                            <i class="bi bi-circle"></i><span>Liste & İşlemler</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">Sayfalar</li>        
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/ContactPost/Index">
                    <i class="bi bi-envelope"></i>
                    <span>Gelen Mesajlar</span>
                </a>
            </li><!-- End Contact Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Register/SignUp">
                    <i class="bi bi-card-list"></i>
                    <span>Kayıt Ol</span>
                </a>
            </li><!-- End Register Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Login/SignIn">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Giriş Yap</span>
                </a>
            </li><!-- End Login Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/PasswordChange/ForgetPassword">
       <i class="bi bi-lock"></i>
                    <span>Şifre Sıfırlama</span>
                </a>
            </li><!-- End Error 404 Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Login/Error404">
                    <i class="bi bi-dash-circle"></i>
                    <span>404 Hata Sayfası</span>
                </a>
            </li><!-- End Error 404 Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/Anasayfa">
                    <i class="bi bi-file-earmark"></i>
                    <span>Kullanıcı Arayüzü</span>
                </a>
            </li><!-- End Blank Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div>
            @RenderBody()
        </div>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
   
    @await Html.PartialAsync("/Areas/Admin/Views/AdminPartial/AdminScriptPartial.cshtml")

</body>

</html>