<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="~/Img/Adminlogo.png" alt="Admin logo resimi" width="80" >
            <span class="d-none d-lg-block">Admin Paneli</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  @await Component.InvokeAsync("Profile")

</header><!-- End Header -->